@model EntityLayer.Concrete.EventMaster
@{
    ViewData["Title"] = "AddName";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<form method="post">

    <div class="form-group">
        @Html.Label("Aktivite Adı")
        <input type="text" asp-for="EventName" class="form-control" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <button class="btn btn-success">Ekle</button>
</form>


