
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@await Html.PartialAsync("~/Views/LayoutPartial/_HeaderPartial.cshtml")
<body>         
        @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")
 
	@RenderBody()
       

    @await Html.PartialAsync("~/Views/LayoutPartial/_FooterPartial.cshtml")
   
     
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    @await Html.PartialAsync("~/Views/LayoutPartial/_ScriptsPartial.cshtml")
 
   
</body>

</html>
