<!-- Spinner Start -->
@*<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>*@

<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/preschool-website-template/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">Kamp Rezervasyonları Başladı!</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Popüler kamplarımız için rezervasyonlar başladı. Kayıtınızı hemen yaparak yerinizi güvence altına alın ve unutulmaz bir kamp deneyimine adım atın!</p>
                            <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Daha Fazla</a>
                            <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Aktivitelerimiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/preschool-website-template/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">Yaş Gruplarına Göre Kamplar</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Yaş Gruplarına Uygun Kamplar Açıklama: 4-6 yaşından 15 yaşına kadar her yaş grubuna uygun kamp programlarımız var. Her yaş grubuna uygun etkinlikler ve öğrenme fırsatlarıyla dolu kamplarımızı keşfedin!</p>
                            <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Daha Fazla</a>
                            <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Aktivitelerimiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>