
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">KidCamp </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
  

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Genre/Index">
            <i class="fas fa-th"></i>

            <span>Türler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Information/Index">
            <i class="fas fa-question-circle"></i>

            <span>Bilgi Alma</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Contact/Index">
            <i class="fas fa-envelope"></i>

            <span>İletişim</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Comment/Index">
            <i class="fas fa-comment"></i>

            <span>Yorumlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Instructor/Index">
            <i class="fas fa-chalkboard-teacher"></i>

            <span>Eğitmenler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/EventMaster/Index">
            <i class="fas fa-hiking"></i>
            <span>Aktiviteler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Reservation/Index">
            <i class="fas fa-ticket-alt"></i>
            <span>Rezervasyon</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/AdminRole/UserList">
            <i class="fas fa-users"></i>

            <span>Kullanıcılar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/AdminRole/Index">
            <i class="fas fa-shield-alt"></i>

            <span>Roller</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Activities/Index">
            <i class="fas fa-info-circle"></i>

            <span>Aktivite Detay</span>
        </a>
    </li>
    <!-- Nav Item - Tables -->
   
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
