@using KidCamp.Areas.Admin.Models;
@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4>Kullanıcı Listesi</h4>

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Rol Ata</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td><a href="/Admin/AdminRole/AssignRole/@item.Id" class="btn btn-warning">Rol Ata</a></td>
        </tr>
    }
</table>